body{
  font-family: Helvetica, sans-serif;
  text-align: center;
}
.header{
  background-image: url("../images/the-flatiron-building.png");
  color: white;
}
.header h1{
  font-size: 70px;
  font-weight: bold;
}
.header p{
  font-size: 18px;
  color: white;
}
a:-webkit-any-link{
  color: white;
}
h2{
  font-size: 32px;
  font-weight: bold;
}
h3{
  font-size: 23px;
  font-weight: bold;
}
p{
  font-size: 14px;
}
.ny{
  background-image: url("../images/the-flatiron-building.png");
  color: white;
  font-size: 23px;
  font-weight: bold;
}
.footer{
  text-align: left;
  font-size: 11px;
  background-color: dimgray;
}
